/* ===================================================================
 * # footer
 *
 * ------------------------------------------------------------------- */
footer {
  background-color: $darker;
}

.section-dark {
  padding: 1em 0;
  background: $darker;
}

.l-mr {
  margin-right: 0.25em;
}

.greeny {
  background-color: $cool-green;
}

.s-footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: rgba(255, 255, 255, 0.4);
  position: relative;
  a {
    color: #ffffff;
    &:hover,
    &:focus {
      color: $cool-green;
    }
  }

  .display-2 {
    color: $cool-green;
    margin-bottom: 1.6rem;
  }

  p.lead {
    color: rgba(255, 255, 255, 0.3);
  }

  .footer__top [class*="col-"]:first-child {
    padding-right: 10px;
  }

  .footer__bottom {
    margin-top: 3.8rem;
    padding-top: 1.9rem;
    border-top: 1px solid rgba(255, 255, 255, 0.03);
  }
}

.search__form {
  .input__form {
    margin: 2rem 0 0 0;
    padding: 0;
    position: relative;
  }
  #sm-form {
    width: 100%;

    input[type="search"] {
      width: 100%;
      height: 6.4rem;
      font-size: 1.8rem;
      line-height: 3.2rem;
      padding: 1.6rem 140px 1.6rem 32px;
      background-color: rgba(255, 255, 255, 0.03);
      color: white;
      margin-bottom: 2rem;
      border: none;
      border-radius: 5px;
    }

    &::hover,
    &:focus {
      box-shadow: none;
    }

    ::placeholder {
      // color: rgba(255, 255, 255, 0.3);
      color: $cool-green;
      opacity: 1;
    }

    button[type="submit"] {
      color: #ffffff;
      background: $cool-green;
      border-color: $cool-green;
      margin-right: 0;
      padding: 0 20px 0 24px;
      height: 6.4rem;
      line-height: 6rem;
      border-radius: 0 5px 5px 0;
      position: absolute;
      top: 0;
      right: 0;
    }

    label {
      color: #ffffff;
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 1.3rem;
      padding: 0 2rem;
    }

    label i {
      padding-right: 6px;
    }
  }
}

/* -------------------------------------------------------------------
 * ## footer site links
 * -------------------------------------------------------------------*/

.footer__site-links {
  font-size: 1.8;
  font-weight: 600;
  line-height: 2;
  display: inline-block;
  list-style: none;
  margin: 0 0 0 -1.5rem;
}

.footer__site-links li {
  display: inline-block;
  padding-left: 0;
  margin: 0 1.6rem 0 1.6rem;
}

.footer__site-links li a {
  display: block;
}

.footer__site-links li a,
.footer__site-links li a:visited {
  color: white;
  outline: none;
}

.footer__site-links li a:hover,
.footer__site-links li a:focus {
  color: $cool-green;
}

/* -------------------------------------------------------------------
 * ## footer contact
 * ------------------------------------------------------------------- */
.footer__contact {
  margin-top: 1.4rem;

  .footer__mail-link {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.455;
    color: $cool-green;
  }
}

.go-top {
  z-index: 999;
  opacity: 0;
  // visibility: hidden;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  -webkit-transform: translate3d(0, 200%, 0);
  -ms-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
  position: fixed;
  bottom: 32px;
  right: 40px;
}

.go-top a,
.go-top a:visited {
  text-decoration: none;
  border: 0 none;
  display: block;
  height: 5.6rem;
  width: 5.6rem;
  line-height: 5.6rem;
  text-align: center;
  // background-image: url("/static/media/icon-arrow-up.svg");
  // background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px 15px;
  color: $cool-green;
  text-align: center;
  text-transform: uppercase;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.go-top a:hover,
.go-top a:focus,
.go-top a:visited:hover,
.go-top a:visited:focus {
  background-color: #00a650;
}

// .go-top.link-is-visible {
//   opacity: 0;
//   visibility: visible;
//   -webkit-transform: translate3d(0, 0, 0);
//   -ms-transform: translate3d(0, 0, 0);
//   transform: translate3d(0, 0, 0);
// }
