@import url("https://fonts.googleapis.com/css?family=Anton|Lilita+One|Montserrat:400,800");

$main-font: "Montserrat", sans-serif;
$logo-font: "Anton", sans-serif;
$head-font: "Lilita One", cursive;

$cool-green: #21b2a6;
$darker: #233142;
$dark: #35495e;
$roman-silver: #7d8491;
$yellow-orange: #fbb13c;
$pewter-blue: #7cb4b8;

$smallest: 411px;
