@import url("https://fonts.googleapis.com/css?family=Anton|Lilita+One|Montserrat:400,800");

$main-font: "Montserrat", sans-serif;
$logo-font: "Anton", sans-serif;
$head-font: "Lilita One", cursive;

$cool-green: #21b2a6;
$darker: #233142;
$darkest: #101316;
$dark: #35495e;
$roman-silver: #7d8491;
$yellow-orange: #fbb13c;
$pewter-blue: #7cb4b8;
$color1: rgba(0, 48, 73, 1);
$color2: rgba(214, 40, 40, 1);
$color3: rgba(247, 127, 0, 1);
$color4: rgba(252, 191, 73, 1);
$color5: rgba(234, 226, 183, 1);

$smallest: 411px;
